services:
  postgres:
    container_name: postgres
    image: ghcr.io/constructive-io/docker/postgres-plus:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    expose:
      - "5432"
    networks:
      - constructive-net

  minio:
    container_name: minio
    image: minio/minio
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    ports:
      - "9000:9000"
    expose:
      - "9000"
    command: server /data
    networks:
      - constructive-net

networks:
  constructive-net:
    name: constructive-net
