# Build output
dist/

# Generated SDK output (for testing)
output-rq
output-orm/

examples/output/generated-sdk/
examples/output/generated-orm/

# Dependencies
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
